/* General form styles */
.profile-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  border-radius: 8px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.input-group {
  margin-bottom: 16px;
  width: 100%;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.input-skills {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.item-badge {
  background-color: #e0e0e0;
  padding: 6px 6px;
  border-radius: 16px;
  font-size: 14px;
  color: #333;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.item-badge i {
  display: flex;
  font-size: 10px;
  font-weight: 1000;
}

.search-input {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 100%;
}

.skill-input-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 40px;
}

.add-button {
  padding: 0 20px;
  height: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* .options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option-item {
  padding: 8px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 4px;
}

.option-item:hover {
  background-color: #ddd;
} */

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 16px;
}

.certification-field .add-certification-btn {
  min-width: 170px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.certification-field .add-certification-btn,
.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.certification-field .add-certification-btn:hover,
.submit-btn:hover {
  background-color: #0056b3;
}

.certification-field {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submit-btn {
  margin-top: 25px;
}

.return-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.return-button:hover {
  background-color: #357abd;
}

.return-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
