
.hero-section {
    width: 100%;
    min-height: 86.5vh;
    background-color: #f1f2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 0px;
  }
  
  .hero-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 65vh;
  }
  
  .info-box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .info-box h2 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .info-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .info-box .search-box{
    width: 95%;
    display: flex;
    margin-left: -5px;
    
  }
  
  .info-box .box1{
    display: flex;
  }

  .info-box .box2{
    display: flex;
  }

  .info-box .box3 button{
    height: 40px;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    width: 100px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
  }
 
  .info-box span {
    display: block;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
  }
  
  .info-box span a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .info-box span a:hover {
    text-decoration: underline;
  }
  
  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .img-box img {
    max-width: 90%;
    height: auto;
  }
  
  .hero-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    /* padding-top: 20px; */
  }
  
  .box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 100px;
    gap: 15px;
  }
  
  .box .img-box {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .box .img-box img {
    width: 32px;
    height: 32px;
  }
  
  .text-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-box p {
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
  
  .text-box span {
    font-size: 14px;
    color: #666;
  }
  

  @media (max-width : 900px){
   .hero-header{
    display: flex;
    flex-direction: column-reverse;
   } 

   .img-box img{
      margin: 15px auto;
      max-width: 80%;
   }

   .search-box{
    justify-content: center;
    gap: 25px;
   }

   .hero-footer .box .img-box img{
    width: 25px;
    height: 25px;
   }

   .box .img-box {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
  }
  
  }