/* General styles for the form container */
.form-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333333;
}

form {
  width: 100%;
}

/* Form field styles */
form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555555;
}

input {
  background: white;
}
input:hover {
  background: white;
}

input,
select,
.react-quill {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333333;
  outline: 0;
}
input:hover,
select:hover,
.react-quill:hover {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333333;
}

.more-options {
  display: flex;
  gap: 20px;
}

.salary-field,
.job-type-field,
.location-field {
  flex: 1;
}

.react-quill {
  height: 250px;
  border-radius: 4px;
  border: 1px solid;
}

.skills_required,
.description,
.responsibilites {
  margin-bottom: 20px;
}

/* Submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
